.rwd-menu.slide {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 999999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-transform: translate(0px);
}
.rwd-menu.slide .menu {
  position: absolute;
  top: 0;
  left: -300px;
  opacity: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-transform: translate(0px);
}
.rwd-menu.slide.active {
  left: 0;
}
.rwd-menu.slide .current {
  overflow-y: auto;
}
.rwd-menu.slide .active {
  left: 0;
  z-index: 999;
  opacity: 1;
}
.rwd-menu.slide .close {
  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  width: 43px;
  height: 43px;
  z-index: 9999;
}
.rwd-menu.slide .top a.back {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-transform: translate(0px);
}
.rwd-menu.slide .menu ul,
.rwd-menu.slide .menu li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rwd-menu.slide .menu ul li > a {
  display: block;
  padding: 12px 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-transform: translate(0px);
}
.rwd-menu-trigger.overlay {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-transform: translate(0px);
}
.rwd-menu-opened .rwd-menu-trigger.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
