.rwd-menu.slide {
  background: #ffffff;
  font-size: 16px;
}
.rwd-menu.slide .menu {
  background: #ffffff;
}
.rwd-menu.slide .close {
  background: url(../assets/iconCross.png) 50% 50% no-repeat transparent;
  background-size: 15px 15px;
  text-indent: -99999px;
}
.rwd-menu.slide .top {
  border-bottom: 1px #e5e5e5 solid;
  text-transform: uppercase;
  color: #be9e56;
  text-align: center;
}
.rwd-menu.slide .top a.back {
  padding: 21px;
  background: url(../assets/shiftNavBack.png) center center no-repeat transparent;
  font-size: 0;
  position: absolute;
  left: 0;
}
.rwd-menu.slide .top a.back:hover {
  background-color: #f4f4f4;
}
.rwd-menu.slide .top .title {
  vertical-align: middle;
  padding: 21px 0;
  display: inline-block;
}
.rwd-menu.slide .top .title a,
.rwd-menu.slide .top .title a:hover {
  color: #000;
}
.rwd-menu.slide .menu li {
  border-bottom: 1px #e5e5e5 solid;
}
.rwd-menu.slide .menu ul li.branch > a:after {
  content: "";
  padding: 0.6em 0.5em 0.5em;
  margin-left: 0.5em;
  background: url(../assets/expand.png) no-repeat center center transparent;
}
.rwd-menu.slide .menu ul li > a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  line-height: 1.1em;
}
.rwd-menu.slide .menu ul li > a:hover {
  padding-left: 23px;
  background-color: #f4f4f4;
}
.rwd-menu-trigger.overlay {
  display: block;
  background-color: rgba(30, 30, 30, 0.0);
}
.rwd-menu-opened .rwd-menu-trigger.overlay {
  background-color: rgba(30, 30, 30, 0.8);
}
